<ion-view title="Action Editor" id="page23">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class="button-bar"></div>
        </form>
        <div class="list card">
            <div class="item item-divider">Applies To</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select">
                        <span class="input-label">Select</span>
                        <select>
                            <option>Self</option>
                            <option>Other</option>
                            <option>obj_1</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Relative</ion-toggle>
            <label class="item item-input">
                <span class="input-label">Direction</span>
                <input type="text" placeholder="0">
            </label>
            <label class="item item-input">
                <span class="input-label">Speed</span>
                <input type="text" placeholder="0">
            </label>
        </form>
        <button id="actionEditor-button24" class="button button-positive  button-block">Save</button>
    </ion-content>
</ion-view>