<ion-view title="Background Editor" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Image</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img>
                        <h2>View Background</h2>
                        <p>32x32</p>
                    </ion-item>
                    <ion-item>Edit Image</ion-item>
                    <ion-item>Load image</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Details</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Name:</span>
                        <input type="text" placeholder="bck_1">
                    </label>
                    <ion-toggle toggle-class="toggle-positive">Smooth Edges</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive">Preload Texture</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive">Transparent</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive">Tileset</ion-toggle>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Tile Properties</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Width</span>
                        <input type="text" placeholder="0">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Height</span>
                        <input type="text" placeholder="0">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Horizontal Offset</span>
                        <input type="text" placeholder="0">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Vertical Offset</span>
                        <input type="text" placeholder="0">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Horizontal Padding</span>
                        <input type="text" placeholder="0">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Vertical Padding</span>
                        <input type="text" placeholder="0">
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>