<ion-view title="Event Editor" id="page21">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class="button-bar">
                <a ui-sref="tabsController.actions" id="eventEditor-button20" class="button button-positive  button-block">Add Action</a>
                <button id="eventEditor-button21" class="button button-assertive  button-block">Remove All</button>
            </div>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.actionEditor">
                <img>
                <h2>Start Moving</h2>
                <p>Move in direction</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.actionEditor">
                <img>
                <h2>Stop Moving</h2>
                <p>Stop</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>