<ion-view title="Fonts" id="page17">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.fontEditor">
                <img>
                <h2>New Font</h2>
                <p>create a new font</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.fontEditor">
                <img>
                <h2>fnt_1</h2>
                <p>Arial 12</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>