<ion-view title="Instances" id="page28">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="roomEditor">
                <img>
                <h2>Create New Instance</h2>
                <p>Create a new instance of object</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="roomEditor">
                <img>
                <h2>inst_A776B502</h2>
                <p>X: 0 Y:0 scaleX:1 scaleY:1</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>