<ion-view title="Objects" id="page25">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="objectEditor">
                <img>
                <h2>New Object</h2>
                <p>Create a new object</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="objectEditor">
                <img>
                <h2>obj_2</h2>
                <p>3 events</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>