<ion-view title="Resources" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.sprites">
                <img>
                <h2>Sprites</h2>
                <p>16 sprites</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.sounds">
                <img>
                <h2>Sounds</h2>
                <p>12 sounds</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.backgrounds">
                <img>
                <h2>Backgrounds</h2>
                <p>6 Backgrounds</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.paths">
                <img>
                <h2>Paths</h2>
                <p>2 Paths</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.scripts">
                <img>
                <h2>Scripts</h2>
                <p>20 Scripts</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.shaders">
                <img>
                <h2>Shaders</h2>
                <p>0 Shaders</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.fonts">
                <img>
                <h2>Fonts</h2>
                <p>1 Font</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.timelines">
                <img>
                <h2>Time Lines</h2>
                <p>0 Time Lines</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Objects</h2>
                <p>12 objects</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Rooms</h2>
                <p>2 Rooms</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>