<ion-view title="Scripts" id="page13">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.scriptEditor">
                <img>
                <h2>New Script</h2>
                <p>create a new script</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.scriptEditor">
                <img>
                <h2>scr_1</h2>
                <p>4 points</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>