<ion-view title="Shader Editor" id="page16">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="shd_1">
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Type</span>
                <select>
                    <option>Arial</option>
                </select>
            </label>
        </form>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Precompile</ion-toggle>
        </form>
        <div class="list card">
            <div class="item item-divider">Vertex</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Text</span><textarea placeholder=""> </textarea>
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Fragment</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Text</span><textarea placeholder=""> </textarea>
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>