<ion-view title="Sounds" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>

            <ion-item ng-repeat='resource in resources_in_folder.sounds' class="item-thumbnail-left" ui-sref="tabsController.sounds({id:1})">
                <img src="./img/sound.png">
                <h2>{{resource.name[0]}} {{id}}</h2>
                <p>Folder</p>
            </ion-item>
            <ion-item ng-repeat='resource in resources_in_folder.sound' class="item-thumbnail-left" ui-sref="tabsController.soundEditor">
                <img src="./img/sound.png">
                <h2>{{resource}}</h2>
                <p></p>
            </ion-item>


            
        </ion-list>
    </ion-content>
</ion-view>