<ion-view title="{{folder_name}} " id="page5" ng-controller="spritesCtrl">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item ng-repeat='resource in folders' class="item-thumbnail-left" ui-sref="{{folder_sref}}({folder_name:resource.name[0], contents:resource, depth:1})">
                <img ng-src="{{image}}">
                <h2>{{resource.name[0]}}</h2>
                <p> Folder {{resource}} </p>
            </ion-item>
            <ion-item ng-repeat='resource in files' class="item-thumbnail-left" ui-sref="{{editor}}({resource_name:resource})">
                <img ng-src="{{image}}">
                <h2>{{resource}}</h2>
                <p></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>