<ion-view title="{{folder_name}} " id="page5" ng-controller="spritesCtrl">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item ng-repeat='resource in folders' class="item-thumbnail-left" ui-sref="tabsController.sprites({folder_name:resource.name[0], contents:resource, depth:1})">
                <img src="./img/sprite.svg">
                <h2>{{resource.name[0]}} {{id}}</h2>
                <p>  Folder of Sprites {{resource}} </p>
            </ion-item>
            <ion-item ng-repeat='resource in files' class="item-thumbnail-left" ui-sref="tabsController.spriteEditor">
                <img src="./img/sprite.svg">
                <h2>{{resource}}</h2>
                <p></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>